
<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<!-- /.row -->
	<div class="row">
		<div class="col-lg-8">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Bug List
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>User Name</th>
										<th>Bug Description</th>
										<th>Time Frame (24 hour)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="buglist in bc.buglists track by $index">
										<td>
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown"
													href=""> + </a>

												<ul class="dropdown-menu">
													<li><a href="" ng-click="bc.BugClick(buglist,$event)">CPU Burner</a></li>
													<li><a href="" ng-click="bc.BugClick(buglist,$event)">Memory Leak</a></li>
												</ul>
											</div>
										</td>
										<td>{{bc.user}}</td>
										<td>{{buglist.bugname}}</td>
										<td>{{buglist.timeframe}}</td>
										<td><td class="tdCenter" title="remove from bug list"><a href=""
											ng-click="bc.RemoveFromBugs(bc.buglists,buglist,$index)"><span
												class="glyphicon glyphicon-remove"></span></a></td>


									</tr>
									<tr>
										<td colspan="6">
											<button style="float: left;" ng-click="bc.addNewBug()"
												class="btn btn-primary">Add New Bug</button>
											<button style="float: right;" ng-click="bc.SubmitBug()"
												ng-disabled="form.$invalid || bc.dataLoading"
												class="btn btn-primary">
												Submit <img ng-if="bc.dataLoading"
													src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<!-- /.col-lg-8 -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bell fa-fw"></i> Notifications Panel
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="list-group" ng-repeat="notification in bc.notificationlist track by $index">
						 <a href="#" class="list-group-item"> <i
							class="fa fa-bolt fa-fw"></i> {{notification.bugname}} <span
							class="pull-right text-muted small"><em>{{notification.timeframe}}</em> </span>
						</a>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<!-- /.col-lg-4 -->
	</div>
	<!-- /.row -->
</div>