
<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<!-- /.row -->
	<div class="row">
		<div class="col-lg-8">
			<!-- /.panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Bug List
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="row">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>User Name</th>
										<th>Bug Description</th>
										<th>Time Frame (UTC)</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="buglist in bc.buglists track by $index">
										<td class="col-md-1">
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown"
													href=""> + </a>

												<ul class="dropdown-menu">
													<li><a href="" ng-click="bc.BugClick(buglist,$event)">Memory Leak</a></li>
												</ul>
											</div>
										</td>
										<td>{{bc.user}}</td>
										<td>{{buglist.bugname}}</td>
										<td>
										<div class="aParent">
											<span class="dropdown fromtime select">
											      <button data-toggle="dropdown" class="btn dropdown-toggle" dropdown>
											        {{buglist.selectedfromtime}} <span class="caret"></span>
											      </button>
											      <ul class="dropdown-menu" role="menu">
											        <li ng-repeat="fromtime in bc.fromtimes"><a ng-click="bc.setfromtime(buglist,fromtime)">{{fromtime}}</a></li>
											      </ul>
											 </span>
					       					<span class="totext">
					       						<span> - </span>
					       					</span>
					       					<span class="dropdown totime select">
											      <button data-toggle="dropdown" class="btn dropdown-toggle" dropdown>
											        {{buglist.selectedtotime}} <span class="caret"></span>
											      </button>
											      <ul class="dropdown-menu" role="menu">
											        <li ng-repeat="totime in bc.totimes"><a ng-click="bc.settotime(buglist,totime)">{{totime}}</a></li>
											      </ul>
											 </span>
				       					</div>
										</td>
										<td>
										<td class="tdCenter" title="remove from bug list"><a
											href=""
											ng-click="bc.RemoveFromBugs(bc.buglists,buglist,$index)"><span
												class="glyphicon glyphicon-remove"></span></a></td>


									</tr>
									<tr>
										<td colspan="6"> 
										
											<button style="float: left;" ng-click="bc.addNewBug()"
												class="btn btn-primary">Add New Fault</button>
											<button style="float: right;margin-right:5px" ng-click="bc.InjectNow()"
												ng-disabled="form.$invalid || bc.injectdataLoading"
												class="btn btn-primary">
												Inject Now <i style="display:inline-block" ng-show="bc.injectdataLoading" class="fa fa-spinner fa-spin"></i>
											</button>
											<button style="float: right;margin-right:5px" ng-click="bc.SaveBug()"
												ng-disabled="form.$invalid || bc.dataLoading"
												class="btn btn-primary">
												Save For Later <i style="display:inline-block" ng-show="bc.dataLoading" class="fa fa-spinner fa-spin"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<!-- /.col-lg-12 -->
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bell fa-fw"></i> Notifications Panel
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="list-group"
						ng-repeat="notification in bc.notificationlist track by $index">
						<a href="" class="list-group-item">
							<button type="button" class="btn btn-danger btn-xs" ng-click="bc.StopFault(bc.notificationlist,notification,$index)">Stop</button>
							<i class="fa fa-bolt fa-fw"></i> {{notification.bugname}}<span
							class="pull-right text-muted small"><em>{{notification.timeframe}}</em>
						</span>
						</a>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>